*{
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
    font-family: cursive;
    background-color:	rgb(10,10,10);
  }
  nav{
    margin-left: 0px;
    position: fixed;
    background: black;
    width: 1%;
    padding: 40px 0;
  }
   /*Centering and Coloring in the Main Page of Portfolio*/                                                
   .center{
    position: fixed;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 45%;
    padding: 0 20px;
    text-align: center;
  }
  .center .title{
    font-size: 60px;
    margin-left: -100px;
  }
/*Txt/My*/
  .txt{
    color: white;
    font-family: "Times New Roman", Times, serif;
  }
/*Text/Portfolio*/
  .text{
    color: ghostwhite;
    font-family: "Times New Roman", Times, serif;
  }


  .h1{
    position: fixed;
    top: 180px;
    left:-35px;
    color: white;
    background-color: rgb(10,10,10);
    background-color:	rgb(0,0,0);
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
  }
  .s1{
    position: fixed;
    top: 180px;
    left: 230px;
    color: rgb(251, 148, 203);
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
  }
  .h2{
    position: fixed;
    top: 280px;
    left:-35px;
    color: white;
    background-color: rgb(10,10,10);
    background-color:	rgb(0,0,0);
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
  }
  .s2{
    position: fixed;
    top: 280px;
    left: 230px;
    color: rgb(251, 148, 203);
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
  }
  .h3{
    position: fixed;
    top: 380px;
    left:-35px;
    color: white;
    background-color: rgb(10,10,10);
    background-color:	rgb(0,0,0);
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
  }
  .s3{
    position: fixed;
    top: 380px;
    left: 230px;
    color: rgb(251, 148, 203);
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
  }
  .h4{
    position: fixed;
    top: 480px;
    left:-35px;
    color: white;
    background-color: rgb(10,10,10);
    background-color:	rgb(0,0,0);
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
  }
  .s4{
    position: fixed;
    top: 480px;
    left: 230px;
    color: rgb(251, 148, 203);
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
  }
  
  .goback button{
    border: 4px solid white;
    font-family: "Lucida Console", "Courier New", monospace;
    position: fixed;
    top: 580px;
    width: 290px;
    left: 310px;
    font-size: 20px;
    background-image: linear-gradient(to bottom right, rgba(251, 0, 255, 0.487),rgba(234, 30, 30, 0.997));
    border-radius: 25px;
    padding: 10px 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.6s ease;
    color: white;
    background-color:black;
    }
    .goback button:hover{
    background: white;
    color: black;
    opacity: 1;
    }
    .goback button:active{
    opacity: 0.8;
    }
  